:root {
    --base-color: rgb(144,255,255);
    --bright-color: rgb(225, 255, 255);
    --dark-color: rgb(50, 50, 50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'AR One Sans', sans-serif;
    height: 3000px;
    background: var(--base-color);
}

/* Header start */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
}

header.glass {
    background: rgba(81, 81, 81, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

header .logo-title {
    text-decoration: none;
    color: var(--bright-color);
    font-family: 'Young Serif', serif;
}

header .logo-title span {
    color: rgb(144, 255, 255); 
}

header nav {
    width: 40%;
    transition: ease .5s;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: var(--bright-color);
}

header nav ul li:hover {
    border-bottom: 1px solid var(--bright-color);
}

#humburger {
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

#close {
    display: none;
}
/* Header end */

main {
    width: 100vw;
    overflow-x: hidden;
}

section {
    padding: 4rem;
}

/* Hero start */
main .hero {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background: rgb(144,255,255);
    background: linear-gradient(0deg, rgba(144,255,255,1) 12%, #00b1dd 65%, #0a83d7 100%);
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(210, 217, 213, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(210, 217, 213, 0));
}

.hero .building {
    position: absolute;
    bottom: 0;
    right: 37%;
    height: 75vh;
    z-index: 1;
}

.hero .building.small {
    display: none;
}

.hero .tag-line {
    padding-top: 5rem;
    z-index: 1;
}

.hero .tag-line-wrapper {
    width: 45%;
    position: fixed;
}

.hero .tag-line-title {
    font-family: 'Young Serif', serif;
    color: var(--dark-color);
    font-size: 3vmax;
    margin-bottom: 1rem;
}

.hero .tag-line-desc {
    font-size: .8rem;
    width: 70%;
    color: var(--dark-color);
}

.btn-learn-more {
    background: transparent;
    margin-top: 2rem;
    cursor: pointer;
    padding: .5rem 1rem;
    transition: ease .5s;
    border: 1px solid rgb(50, 50, 50);
}

.btn-learn-more:hover {
    background-color: var(--dark-color);
    border: none;
}

.btn-learn-more:hover a {
    color: var(--bright-color);
}

.btn-learn-more a {
    transition: ease .5s;
    text-decoration: none;
    color: var(--dark-color);
    font-weight: bold;
}

.hero .vimi {
    font-family: 'AR One Sans', sans-serif;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    left: 0;
    top: 8rem;
    padding: 0 5rem;
}

.vimi .vission, 
.vimi .mission {
    text-align: justify;
    max-width: 25vmax;
    margin-bottom: 2rem;
}

.vission-title,
.mission-title {
    text-align: center;
    font-size: 2vmax;
    font-family: 'Young Serif', serif;
    border-top: 2px solid var(--dark-color);
    border-bottom: 2px solid var(--dark-color);
    margin-bottom: 1rem;
    color: var(--dark-color);
}


.vission-desc,
.mission-desc {
    font-size: .8rem;
    text-align: justify;
    color: var(--dark-color);
}

.swiper {
    display: none;
}
  
.section-title {
    text-align: center;
    padding-top: .8rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: 'Young Serif', serif;
    color: var(--dark-color);
    position: relative;
}

.section-title::after {
    content: '';
    height: 1px;
    width: 3rem;
    background-color: var(--dark-color);
    position: absolute;
    bottom: 0;
    margin-left: -1rem;
}
/* hero end */

/* goals start */
.goals {
    z-index: 2;
    background: rgb(144,255,255);
    background: linear-gradient(180deg, rgba(144,255,255,1) 5%, rgba(182,255,88,1) 100%); 
    position: relative;
}


.goals-desc {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 5rem;
    position: relative;
    width: 70%;
}

.goals-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.learn-more {
    display: flex;
    align-items: center;
}

.learn-more > a {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--dark-color);
    transition: .8s;
}

.arrow path {
  transition: 2s;
}

.learn-more > a:hover .arrow path {
    transition: 2s;
    animation: changePath 1s ease-in-out;
}

.goals-card {
    font-family: 'AR One Sans', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background: rgb(178,254,81);
    background: linear-gradient(158deg, rgba(178,254,81,1) 0%, rgba(249,158,37,1) 100%); 
    box-shadow: 9px 13px 24px -7px rgba(0,0,0,0.59);
    display: flex;
    width: 60%;
}

.goals-11 {
    width: 20%;
    margin-right: 1rem;
    float: left;
}

.goals-11-desc {
    width: 80%;
    font-size: .8rem;
}

.goals > img {
    position: absolute;
    bottom: 0;
}
/* Goals end */

/* infographics start */
.infographics {
    background: rgb(180,255,85);
    background: linear-gradient(180deg, rgb(180, 255, 85) 0%, rgb(37, 249, 199) 100%);
}

.infographics .info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem; 
}

.info-wrapper img {
    border-radius: 1rem;
    width: 100%;
    box-shadow: 9px 13px 24px -7px rgba(0,0,0,0.59);
    grid-area: 1 / 1 / 3 / 2;
}

.infographics .point {
    margin-bottom: 2rem;
}

.infographics h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.infographics p {
    font-size: .8rem;
}
/* infographics end */

/* component start */
.sustainable-component {
    background: rgb(42,249,195);
    background: linear-gradient(180deg, rgba(42,249,195,1) 0%, rgba(144,255,255,1) 100%); 
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-component {
    width: 30%;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #A6F3FF;
    box-shadow: 9px 13px 24px -7px rgba(0,0,0,0.59);
}

.card-component:hover img {
    transform: scale(1.2);
}

.card-component .card-title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card-component .card-desc {
    font-size: .8rem;
}

.card-component .card-thumb {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 250px;
    border-radius: 0 0 1rem 1rem;
}

.card-component .card-thumb img {
    transition: ease .5s;
}

.card-component .card-content {
    padding: 0 2rem 2rem;
}
/* components end */

/* footer start */
footer {
    text-align: center;
    padding: 2rem 0;
    background-color: rgb(42,249,195);
}

footer h2 {
    margin-bottom: 2rem;
}

.social-icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: auto;
}

.social-icon ul li:nth-child(2) {
    margin: 0 2rem;
}

.social-icon ul li a img {
    width: 2rem;
    color: rgb(207, 207, 207);
}

.copyright {
    padding-top: 2rem;
}
/* footer end */


@media (max-width: 767.98px) { 
    header {
        padding: 1.5rem 3rem;
    }

    header nav {
        position: absolute;
        height: 100vh;
        width: 80%;
        right: -1000px;
        top: 0;
        background: rgb(10,131,215);
        background: linear-gradient(120deg, rgba(10,131,215,1) 80%, rgba(0,177,221,1) 100%); 
    }

    header nav #close {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }

    header nav ul {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;

    }

    header nav ul li {
        margin-bottom: 2rem;
        box-sizing: border-box;
    }

    header nav ul li a {
        font-weight: bold;
    }

    #humburger {
        display: flex;
    }

    section.hero {
        padding: 0 3rem;
    }

    .hero .building {
        left: 60%;
    }

    .hero .building.small {
        display: block;
        left: 50%;
    }

    .hero .building.large {
        display: none;
    }

    .hero .tag-line {
        padding-top: 8rem;
    }

    .hero .tag-line-wrapper {
        width: 80%;
    }

    .hero .tag-line-title {
        font-size: 4vmax;
    }

    .hero .tag-line-desc {
        font-size: .8rem;
        width: 80%;
    }

    .hero .vimi  {
        display: none;
    }

    .swiper {
        height: 16rem;
        display: block;
    }

    .vission-title,
    .mission-title {
        font-size: 3vmax;
    }

    .vission-desc,
    .mission-desc {
        font-size: .8rem;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
        left: -1rem;
    }

    section {
        padding: 3rem;
        padding-top: 4rem;
    }

    .goals-desc {
        width: 100%;
        font-size: .8rem;
        margin-bottom: 2rem;
    }

    .goals-card-wrapper {
        width: 100%;
        flex-direction: column-reverse;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .goals-card {
        width: 100%;
        display: block;
    
    }

    .goals-card > img {
        float: left;
        margin-right: .8rem;
        width: 30%;
    }

    .goals-11-desc {
        width: 100%;
        text-align: justify;
        font-size: .8rem;
    }

    section.infographics .info-wrapper {
        display: block;
    }

    section.infographics .info-wrapper img {
        margin-bottom: 1rem;
    }

    .card-wrapper {
        flex-direction: column;
    }

    .card-component {
        width: 100%;
        margin: 1rem 0;
    }   
}